{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% tailwind_css %}
    <title>Document</title>
</head>
<body>
<div class="flex h-[100vh] w-[100vw gap-3">
{% for chai in chais %} 
<div class='bg-blue-800 h-[450px]'>
    <img class="h-[300px] w-[320px] min-w-[320px] object-cover rounded mt-2" src="{{chai.image.url}}" alt="">    {% comment %} jab bhi image attribute to sath me url bhi likhna padta he  {% endcomment %}
    <h2>{{chai.name}}</h2>
    <h2>{{chai.date_added}}</h2>
    <h2>{{chai.Type}}</h2>
   <a href="chais/{{chai.id}}">
     <button class='w-[50px] h-[40px] bg-red-500 text-white hover:bg-red-700 cursor-pointer'>{{chai.Type}} - {{chai.id}}</button>
   </a> 
</div>
{% endfor %}
</div>
</body>
</html>
 










