{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
   
    <h1 class="heading bg-amber-500">Muneeb ur rehman</h1>
    <h1 class="heading bg-black text-white">age 24</h1>
    <h1 class="heading bg-black text-white">contact number 8269527774</h1>


</body>
</html>